name: Publish docs update

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
            
      - name: Rebuild site
        run: |
          curl -X POST https://api.github.com/repos/plentymarkets/plenty-developers-docs/dispatches \
          -H 'Accept: application/vnd.github.v3+json' \
          -u 'plentymonkey:'${{ secrets.PUBLIC_PAT_CICD4_PUBLIC }} \
          --data '{"event_type": "ContentSourceUpdate", "client_payload": { "repository": "'"$GITHUB_REPOSITORY"'" }}'
